<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://img.icons8.com/dusk/64/000000/domain.png">
      </div>
      <div class="row">
        <button type="button" class="btn btn-info" name="button" on-click="incrementar">Cargar Datos</button>
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
        <input type="text" name="" value="[[prop1]]" >
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Oscar</td>
              <td>Perez Sanchez</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Maximo</td>
              <td>Decimo Meridio Comandante de los Ejercitos del Norte y fiel sirviente del unico emperador Marco Aurelio</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
            //value: 'demopolymer-app'
          },
          prop2:{
            type: Number,
            value: 13
          },
          prop3:{
            type: String,
            value: 'Indique su usuario'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log("Prop1: "+this.prop1);
        console.log("Prop2"+this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
